EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_16_char_gmail_app_password
local_server=Ture
local_uri=mysql://root:@localhost/codingthunder
prod_uri=mysql://root:@localhost/codingthunder
fb_url=https://facebook.com/codingthunder
tw_url=https://twitter.com/codingthunder
gh_url=https://github.com/codingthunder
blog_name=Coding Thunder
tag_line=A Blog liked by programmers
about_text=Tell about yourself
no_of_posts=required no of post on home screen
login_image=login_image.jpg
admin_user=create your username
admin_password=create your password