{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        {% set background_image = url_for("static", filename="assets/img/home-bg.jpg") %}
        <header class="masthead" style="background-image: url('{{ background_image }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1>Basic Actions</h1>
                       
                     <a href="/dashboard"> <button  class="btn btn-primary">Dashboard Home</button></a>
                     <a href="/logout"> <button  class="btn btn-primary">Logout</button></a>
                    <hr>
                 
                
        <h1>Add/Edit Post</h1>

        <form id="contactForm" action="/edit/{{post.sno}}" method="POST" data-sb-form-api-token="API_TOKEN">
            <div class="form-floating">
                <input class="form-control" id="title" type="text" name="title" placeholder="Enter title..." data-sb-validations="required" value="{{post.title}}" />
                <label for="title">Title</label>
                <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="tagline" type="text" name='tagline' placeholder="Enter a tagline..." data-sb-validations="required,email" value="{{post.tagline}}" />
                <label for="tagline">Tagline</label>
                <div class="invalid-feedback" data-sb-feedback="tagline:required">An tagline is required.</div>
                
            </div>
            <div class="form-floating">
                <input class="form-control" id="slug" type="text" name="slug" placeholder="Enter a slug..." data-sb-validations="required" value="{{post.slug}}" />
                <label for="slug">Slug</label>
                <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is required.</div>
            </div>
            <div class="form-floating">
                <textarea class="form-control" id="content" name="content" placeholder="Enter your content here..." style="height: 12rem" data-sb-validations="required">{{post.content}}</textarea>
                <label for="content">Content</label>
                <div class="invalid-feedback" data-sb-feedback="content:required">A content is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="img_file" name="img_file" placeholder="drop img file..." data-sb-validations="required" value="{{post.img_file}}"/>
                <label for="img_file">Image file</label>
              
            </div>
            <br />
            <!-- Submit success message-->
                               
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
                                
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
                <button class="btn btn-primary text-uppercase " id="submitButton" type="submit">Submit</button>
        </form>
                        
        
                    
                
                    
                </div>
            </div>
        </div>
    {% endblock %}
